<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Harsh Kapadia">
		<meta name="keywords" content="ai, teachable machine, flask, serving model, hand gesture, recognition">
		<meta name="description" content="A Teachable Machine model served using Flask.">

		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

		<title>1 or 2?</title>
	</head>

	<body>
		{% include 'github-corner.html' %}

		{% block body %}{% endblock %}

		<footer>
			Made with &#9829; by&nbsp;<a href="https://www.linkedin.com/in/harshgkapadia/" target="_blank">Harsh Kapadia</a>.
		</footer>
	</body>
</html>