{% extends 'base.html' %}

{% block body %}
	<main>
		<h1>1 or 2?</h1>
		<h2>Hand gesture recognition</h2>

		<div class="flash-msg">
			{% with messages = get_flashed_messages() %}
				{% if messages: %}
					{% for message in messages: %}
						<h3>{{ message }}</h3>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>

		<form action="/predict" method="POST" enctype="multipart/form-data">
			<label for="image-upload">Upload an image of a hand showing &#9757; or &#9996;</label>
			<br>
			<input type="file" id="image-upload" name="file" required accept=".png,.jpg,.jpeg">
			<br>

			<button type="submit">Predict</button>
		</form>

		<div>NOTE: The prediction will take around 20 seconds, so please be patient after clicking the 'Predict' button.</div>
	</main>
{% endblock %}