{% extends 'base.html' %}

{% block body %}
	<main>
		<h1>1 or 2?</h1>
		<h2>Hand gesture recognition</h2>
		
		<div class="output">
			<div class="output-card {{ output_1['display_class'] }}">
				<span class = "icon">&#9757;</span>
				<div class = "percentage">{{ output_1['percentage'] }}</div>
			</div>
			<div class="output-card {{ output_2['display_class'] }}">
				<span class = "icon">&#9996;</span>
				<div class = "percentage">{{ output_2['percentage'] }}</div>
			</div>
		</div>

		<form action="/" method="GET">
			<button type="submit">Back</button>
		</form>
	</main>
{% endblock %}